#messagesDiv{
  border: 4px solid black;
  border-radius: 20px;
  margin-top: 5%;
}

#messagesDiv em{
	font-size: 20px;
}

#messagesDiv .name{
	text-transform: uppercase;
}

#play{
  background-color: #000;
  color: #fff;
  font-size: 2em;
}
p{
	font-size: 1.2em;
}

i:hover{
	background-color: #000;
	color: #fff;
}